html, body {

	background-color: #333 !important;
	color: #FFF !important;
	height:  100% !important;
}

a {
	text-decoration: none !important;
}

.name {
	font-size: 72px;

}

.skills {
	font-size: 28px;
}

.site-wrapper{
	/*Give 200 px padding to prevent hiding contents by navigation bar */
	padding-top: 200px;
}


.Davis {
     margin-top: 25%;
}

.Portfolio{
	margin-bottom: 25%;
}